{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% translate "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>
    {% translate "Please sign in with one of your existing third party accounts:" %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
    {% endif %}
  </p>

  <div class="socialaccount_ballot">

    <div class="socialaccount_providers list-group">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </div>

    <h3 class="login-or">{% translate "or" %}</h3>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% else %}
  {% if ACCOUNT_ALLOW_REGISTRATION %}
    <p>
      {% blocktranslate trimmed %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
      {% endblocktranslate %}
    </p>
  {% endif %}
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {{ form|crispy }}
  {% if not "Too many failed login attempts. Try again later." in form.non_field_errors %}
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary" type="submit">{% translate "Sign In" %}</button>
  {% endif %}
  <a class="button secondaryAction btn btn-outline-warning" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
</form>

{% endblock %}
