@media print {
  @page {
    margin: 0.2in;
    size: 9.5in 4.12in;  /* COM 10 envelope landscape */
  }
}

span.paused {
  text-decoration: line-through;
  color: SlateGrey;
}

div.mono-space {
  font-family: monospace;
}

div.page-break {
  display: block;
  page-break-before: always;
}

div.d-flex {
  display: flex;
}

div.recipient:hover {
  background: LightSkyBlue;
  cursor: pointer;
}

div.dark-background {
  background-color: #E5E4E2;
}

div.attendingmeet-envelope-container a.link-as-text {
  text-decoration: none;
  color: inherit;
}
