@media print {
  @page {
    margin: 0.5in;
    /*margin-top: 0.5in;*/
    /*margin-left: 2px;*/
    /*margin-bottom: 40px;*/
    /*margin-right: 2px;*/
    size: Letter;
    @bottom-center {
      content: counter(page);
    }
  }
  /*@page :first {*/
  /*  @top-right {*/
  /*    content: "";*/
  /*  }*/
  /*}*/
}

div.dx-list-select-all {
  display: none;
}

.page-break {
  display: block;
  page-break-before: always;
}

div.family-container {
  padding-top: 1rem;
}

div.family-title-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
}

div.attendee {
  text-align: center;
  width: 8rem;
  margin-top: 7px;
}

div.attendees-container {
  display: flex;
  justify-content: flex-start;
}

div.contacts-container {
  display: flex;
}

div.index-container {
  display: flex;
}

div.telephone-number {
  font-family: monospace;
}

hr {
  margin-top: 0;
}

img.directory-photo-img {
  border: 1px;
  padding: 5px;
  width: 7rem;
}

.left, .right {
  flex: 1;
}

div.contacts-container a.link-as-text,
div.attendees-container a.link-as-text {
  text-decoration: none;
  color: inherit;
}
