div.family-title-container {
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  /*justify-content: space-around;*/
}

div.attendee {
  text-align: center;
}

div.attendees-container {
  display: flex;
  justify-content: flex-start;
}

div.contacts-container {
  display: flex;
  /*justify-content: space-around;*/
}

img.directory-photo-img {
  border: 1px;
  padding: 15px;
  width: 7rem;
}

.left, .right {
  flex: 1;
}
