{% for family in families %}
  <div class="family-container">
    <div class="family-title-container">
      <div class="family-last_name left">
        {{family.household_last_name}}
      </div>
      <div class="family-other_names">
        {{family.household_title}}
      </div>
      <div class="right"></div>
    </div>
    <div class="attendees-container">
      {% for attendee in family.attendees|slice:"0:6" %}
        {% if link %}
          <a class="link-as-text" href="{{attendee_urn}}{{attendee.id}}">
        {% endif %}
          <div class="attendee">
            {{attendee.name2}}      <br>
            {{attendee.first_name}} <br>
            {% if attendee.photo_url%}
            <img class="directory-photo-img"
                 src="{{attendee.photo_url}}">
            {% else %}
            <img class="directory-photo-img"
                 src="{{empty_image_link}}">
            {% endif %}
          </div>
        {% if link %}
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="contacts-container">
      <div class="phone_address left">
        {% if link %}
          <a class="link-as-text" href="tel:{{family.phone1}}">{{family.phone1}}</a><br>
          <a class="link-as-text" href="https://www.google.com/maps/place/{{family.address_link}}" target="_blank">{{family.address_line1}}</a><br>
          <a class="link-as-text" href="https://www.google.com/maps/place/{{family.address_link}}" target="_blank">{{family.address_line2}}</a>
        {% else %}
          {{family.phone1}}       <br>
          {{family.address_line1}}<br>
          {{family.address_line2}}
        {% endif %}
      </div>
      <div class="phone_email">
        {% if link %}
          <a class="link-as-text" href="tel:{{family.phone2}}">{{family.phone2}}</a><br>
          <a class="link-as-text" href="mailto:{{family.email1}}">{{family.email1}}</a><br>
          <a class="link-as-text" href="mailto:{{family.email2}}">{{family.email2}}</a>
        {% else %}
          {{family.phone2}}<br>
          {{family.email1}}<br>
          {{family.email2}}
        {% endif %}
      </div>
      <div class="right"></div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
  <div class="page-break"></div>
  <div class="d-flex justify-content-between">
    <div></div>
    <div>{{directory_header}}</div>
  </div>
  {% endif %}
{% endfor %}
