{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{directory_header}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Activities/Attendees Management">
    <meta name="author" content="Jack Jack">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet"
          href="{% static 'css/directory.css' %}">

<!--      <link rel="preload"-->
<!--            as="style"-->
<!--            href="{% static 'bootstrap/bootstrap.min.css' %}"-->
<!--            onload="this.rel='stylesheet'">-->

<!--      </script> -->
    <script defer
            src="https://unpkg.com/pagedjs/dist/paged.polyfill.js">
    </script>

  </head>

  <body>
    <div class="attendingmeet-report-container">
      <h1 class="text-center">{{report_title}}</h1>
      <div class="d-flex justify-content-between">
        <div></div>
        <div>{{report_date}}</div>
      </div>

      {% for folk in families %}
        <div class="folk-container">
          <div class="family-name">
            {{ folk.family_name }}
          </div>
          <div class="members-container">
            {% for member in folk.families %}
              <div class="member">
                {{ counter }}
                {{ member.first_name }}
                {{ member.last_name2 }}
                {{ member.first_name2 }}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>

