{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  All attendees
{% endblock title %}

{% block extra_css %}

  <link rel="stylesheet"
        href="{% static 'devextreme/dx.light.compact.min.css' %}">

  <link rel="stylesheet"
        href="{% static 'css/directory.css' %}">
{% endblock extra_css %}

{% block extra_head %}
  <script defer
          src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
          integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
  </script>

  <script defer
          src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"
          integrity="sha512-UnrKxsCMN9hFk7M56t4I4ckB4N/2HHi0w/7+B/1JsXIX3DmyBcsGpT3/BsuZMZf+6mAr0vP81syWtfynHJ69JA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
  </script>

  <script defer
          src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"
          integrity="sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer">
  </script>

  <script defer
          type="text/javascript"
          src="https://cdn3.devexpress.com/jslib/21.2.11/js/dx.web.js"
          integrity="sha384-209QJH8lCoDrB70trdPkGFr84168dIgFO2IYDKFYUv73DqCa161cBayeTRYdzjSp"
          crossorigin="anonymous">
  </script>

  <script defer
          type="text/javascript"
          src="{% static 'js/persons/attendees_list_view.js' %}">
  </script>

{% endblock extra_head %}

{% block content %}

  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <h3>
        Attendees and activities:
      </h3>
    </div>
    <div class="meet-tag-box">
    </div>
    <div class="d-flex">
      {% if allowed_to_create_attendee %}
        <a class="add-attendee d-flex align-items-center btn btn-outline-success btn-xs"
           title="add a new attendee"
           role="button"
           href="{{create_attendee_urn}}">
          +Add Attendee
        </a>
      {% endif %}
    </div>

  </div>
  <div id="directory-preview-popup"></div>
  <form class="d-flex flex-wrap attendees-filter"
        data-url="{{request.get_full_path}}">

    <div class="form-group d-flex flex-column col-6">
    </div>

    <div class="form-group d-flex flex-column col-6">

    </div>

  </form>
  {% csrf_token %}
  {{ available_meets_json|json_script:"organization-available-meets" }}
  <div class="dataAttendees"
      data-family-attendances-urn="{{family_attendances_urn}}"
      data-attendees-endpoint="{{attendees_endpoint}}"
      data-attendingmeets-default-endpoint="{{attendingmeets_default_endpoint}}"
      data-divisions-endpoint="{{divisions_endpoint}}"
      data-attendee-urn="{{attendee_urn}}"
      data-attendingmeets-url="{{attendingmeet_url}}"
      data-scheduled-category="{{scheduled_category}}"
      data-paused-category="{{paused_category}}"
      >
  </div>
{% endblock content %}
