{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Directory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Activities/Attendees Management">
    <meta name="author" content="Jack Jack">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet"
          href="{% static 'css/directory.css' %}">

<!--      <link rel="preload"-->
<!--            as="style"-->
<!--            href="{% static 'bootstrap/bootstrap.min.css' %}"-->
<!--            onload="this.rel='stylesheet'">-->
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
      <!-- Bootstrap JS -->
<!--      <script defer-->
<!--              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" -->
<!--              integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" -->
<!--              crossorigin="anonymous" -->
<!--              referrerpolicy="no-referrer"> -->
<!--      </script> -->
      <script defer
              src="{% static 'jquery/jquery-3.6.0.min.js' %}"
              integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
              crossorigin="anonymous">
      </script>
      <script defer
              comment="Bootstrap 5 bundled with popper"
              src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"
              integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
              crossorigin="anonymous">
      </script>

  </head>

  <body>
    <div class="family-directory-container">
      {% for family in families %}
        <div class="family-container">
          <div class="family-title-container">
            <div class="family-last_name left">
              {{family.household_last_name}}
            </div>
            <div class="family-other_names">
              {{family.household_title}}
            </div>
            <div class="right"></div>
          </div>
          <div class="attendees-container">
            {% for attendee in family.attendees %}
              <div class="attendee">
                {{attendee.name2}}      <br>
                {{attendee.first_name}} <br>
                {% if attendee.photo_url%}
                  <img class="directory-photo-img"
                       src="{{attendee.photo_url}}">
                {% else %}
                  <img class="directory-photo-img"
                       src="{{empty_image_link}}">
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <div class="contacts-container">
            <div class="phone_address left">
              {{family.phone1}}       <br>
              {{family.address_line1}}<br>
              {{family.address_line2}}
            </div>
            <div class="phone_email">
              {{family.phone2}}<br>
              {{family.email1}}<br>
              {{family.email2}}
            </div>
            <div class="right"></div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
          <div class="page-break"></div>
        {% endif %}
      {% endfor %}
    </div>
    {% if True %}
       <div class="page-break">configurable break</div>
    {% endif %}
    <div class="area-directory-container">
      <h1>test area directory</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare tellus ac nisl suscipit, non sodales enim consequat. Nam porttitor laoreet sem sed dapibus. Mauris et imperdiet leo. In semper leo sit amet fringilla consectetur. Curabitur consequat diam ac justo vulputate congue. Suspendisse eget purus fringilla, consectetur nunc nec, blandit leo. Quisque vel leo a nibh consequat vestibulum. Aliquam in ligula sit amet odio ultrices venenatis eget sodales lacus. Integer at pellentesque arcu, a elementum leo. Nulla laoreet dignissim nisl fringilla maximus. Etiam non porta risus, vitae faucibus sem. Aliquam non lacus ac sapien dapibus facilisis. Aliquam metus arcu, pulvinar eu eros non, sodales interdum dolor. Praesent eget nisl est. Etiam vitae pharetra nibh.

        Ut ut iaculis erat, nec egestas neque. In hac habitasse platea dictumst. Phasellus in sapien ac ex bibendum rhoncus sed quis massa. Vestibulum id lacinia lacus, ut commodo ligula. Ut bibendum nisl ut purus vulputate, volutpat laoreet lectus accumsan. Duis quis neque eu enim sagittis vestibulum in ac risus. Duis facilisis, est in faucibus pellentesque, nisi enim rhoncus magna, ut tristique velit nunc in lorem. Curabitur semper eu odio non elementum. Sed molestie vestibulum dui a rutrum. Mauris id felis massa. Cras sagittis interdum rutrum. Suspendisse at mauris sit amet leo tempor elementum.

        Nullam tristique nulla sem, quis porta nunc sagittis non. Aenean sapien felis, cursus in mauris eu, ultrices aliquam nisi. Cras rhoncus tincidunt interdum. Donec quis sagittis velit. Curabitur fringilla at metus et aliquet. Etiam vel dapibus arcu. Pellentesque nec mollis augue. Nullam a interdum metus. Pellentesque id vehicula odio, sit amet iaculis nulla.

        Nulla suscipit quam ligula, non pellentesque purus vulputate facilisis. Cras gravida arcu et malesuada malesuada. Phasellus volutpat quis mi at porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec in purus ornare, interdum arcu ut, accumsan tellus. Quisque dapibus mollis massa et accumsan. Proin bibendum quam nec rutrum maximus. Cras eget rutrum mi. Vivamus cursus ac enim et consectetur. Morbi ac est eros. Nam luctus bibendum lectus.

        Vivamus gravida metus ac ligula volutpat, id facilisis mauris hendrerit. Quisque consectetur tellus quam, et mollis erat convallis cursus. Suspendisse at luctus libero. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi id tellus at sapien porttitor eleifend vitae at augue. Nulla sagittis erat vitae ipsum vestibulum pulvinar. Curabitur venenatis, urna ac vestibulum pulvinar, nisl mi blandit nibh, nec posuere ex nibh id arcu. Nunc vulputate malesuada felis sed condimentum. Morbi tincidunt ligula metus, nec blandit risus placerat ut. Pellentesque eu nisi non erat porttitor facilisis.
      </p>
    </div>
  </body>
</html>

