{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{directory_header}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Activities/Attendees Management">
    <meta name="author" content="Jack Jack">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <link rel="stylesheet"
          href="{% static 'css/directory.css' %}">

<!--      <link rel="preload"-->
<!--            as="style"-->
<!--            href="{% static 'bootstrap/bootstrap.min.css' %}"-->
<!--            onload="this.rel='stylesheet'">-->

<!--      </script> -->
    <script defer
            src="https://unpkg.com/pagedjs/dist/paged.polyfill.js">
    </script>

  </head>

  <body>
    <div class="family-directory-container">
      <h1>This directory is strictly only for internal use. </h1>
      <h2>After the page finish loading, please print the page from a desktop browser, then "save as pdf".</h2>
      <h3>Please double check if the extra page break needed before the index.</h3>
      <h4>Please use browser's Back button to go back to the previous page.</h4>
      <h5>ps. Dark theme may not be compatible for font display and pdf generation.</h5>
      <h6>ps2. if identical names with same membership lives in the same town, they will be missed in the index.</h6>
      <div class="page-break"></div>
      <div class="d-flex justify-content-between">
        <div></div>
        <div>{{directory_header}}</div>
      </div>
      {% for family in families %}
      <div class="family-container">
        <div class="family-title-container">
          <div class="family-last_name left">
            {{family.household_last_name}}
          </div>
          <div class="family-other_names">
            {{family.household_title}}
          </div>
          <div class="right"></div>
        </div>
        <div class="attendees-container">
          {% for attendee in family.attendees|slice:"0:6" %}
          <div class="attendee">
            {{attendee.name2}}      <br>
            {{attendee.first_name}} <br>
            {% if attendee.photo_url%}
            <img class="directory-photo-img"
                 src="{{attendee.photo_url}}">
            {% else %}
            <img class="directory-photo-img"
                 src="{{empty_image_link}}">
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <div class="contacts-container">
          <div class="phone_address left">
            {{family.phone1}}       <br>
            {{family.address_line1}}<br>
            {{family.address_line2}}
          </div>
          <div class="phone_email">
            {{family.phone2}}<br>
            {{family.email1}}<br>
            {{family.email2}}
          </div>
          <div class="right"></div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
        <div class="page-break"></div>
        <div class="d-flex justify-content-between">
          <div></div>
          <div>{{directory_header}}</div>
        </div>
      {% endif %}
      {% endfor %}
    </div>

    {% for i in index_page_breaks %}
      <div class="page-break"></div>
    {% endfor %}

    <div class="index-directory-container">
      <div class="d-flex justify-content-between">
        <div></div>
        <div>{{index_header}}</div>
      </div>
      <hr>
      {% for index in indexes %}
        {% for title, value in index.items %}
          {% if title == 'BREAKER' %}
            {% if value == 'PAGE' %}
              <div class="page-break"></div>
              <div class="d-flex justify-content-between">
                <div></div>
                <div>{{index_header}}</div>
              </div>
              <hr>
            {% else %}
              <div>
                <br>
              </div>
            {% endif %}
          {% else %}
            {% if title == 'TOWN_NAME' %}
              <div class="d-flex justify-content-between bg-secondary fs-3">
                <div><strong>{{value}}</strong></div>
                <div></div>
              </div>
            {% else %}
              <div class="d-flex justify-content-between fs-4">
                <div>{{title}}</div>
                <div class="telephone-number">{{value}}</div>
              </div>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </body>
</html>

