{% extends "admin/object_history.html" %}

{% block content %}
  <script>
    const styleSwitcher = {
      "none": "",
      "": "none",
    };

    function toggleDisplay(elementSelector) {
      const element = document.querySelector(elementSelector);
      element.style.display = styleSwitcher[element.style.display];
    }
  </script>

  <table id="change-history">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Event</th>
        <th scope="col" style="text-align:center">Trace</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_history %}
        <tr>
          <th scope="row" style="width: 20%;">{{ item.pgh_created_at|date:"DATETIME_FORMAT" }}
            {% if item.pgh_context%}
              <br>
                {% if item.pgh_context.metadata.user %}
                  by user {{item.pgh_context.metadata.user}}
                {% elif item.pgh_context.metadata.url and "login" in item.pgh_context.metadata.url %}
                  login
                {% endif %}
            {% endif %}
          </th>
          <td style="width: 10%;">{{ item.pgh_label }}</td>
          <td align="right" style="width: 70%;">
            {% if item.pgh_context %}
              <button class="button" style="align: right; padding: 3px;" onclick='toggleDisplay("#history-context-{{ forloop.counter0 }}")'>Context</button>
            {% endif %}

            {% if item.pgh_data %}
              <button class="button" style="align:right; padding: 3px;" onclick='toggleDisplay("#history-data-{{ forloop.counter0 }}")'>Data</button>
            {% endif %}

            {% if item.pgh_diff %}
              <button class="button" style="align:right; padding: 3px;" onclick='toggleDisplay("#history-diff-{{ forloop.counter0 }}")'>Changes</button>
            {% endif %}

            {% if item.pgh_context %}
              <div id="history-context-{{ forloop.counter0 }}" style="display: none; text-align:left">
                <h5>Context</h5>
                <table style="width:100%">
                  <thead>
                    <tr>
                      <th scole="col">Key</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                {% for key, value in item.pgh_context.metadata.items %}
                  <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                  </tr>
                {% endfor %}
                </table>
              </div>
            {% endif %}

            {% if item.pgh_data %}
              <div id="history-data-{{ forloop.counter0 }}" style="display: none; text-align:left">
                <h5>Data</h5>
                <table style="width:100%">
                  <thead>
                    <tr>
                      <th scole="col">Key</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                {% for key, value in item.pgh_data.items %}
                  <tr>
                    <th>{{ key }}</th>
                    <td style="overflow-wrap: anywhere; width: 80%;">{{ value }}</td>
                  </tr>
                {% endfor %}
                </table>
              </div>
            {% endif %}

            {% if item.pgh_diff %}
              <div id="history-diff-{{ forloop.counter0 }}" style="display: none; text-align:left">
                <h5>Changes</h5>
                <table style="width:100%">
                  <thead>
                    <tr>
                      <th scole="col">Field</th>
                      <th scope="col">Before</th>
                      <th scope="col">After</th>
                    </tr>
                  </thead>
                {% for key, value in item.pgh_diff.items %}
                  <tr>
                    <th>{{ key }}</th>
                    <td>{{ value.0 }}</td>
                    <td>{{ value.1 }}</td>
                  </tr>
                {% endfor %}
                </table>
              </div>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
