{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  Roster
{% endblock title %}

{% block extra_css %}
  <link rel="stylesheet"
        href="{% static 'devextreme/dx.light.compact.min.css' %}">
{% endblock extra_css %}

{% block extra_head %}
  <script defer
          type="text/javascript"
          src="{% static 'devextreme/dx.web.js' %}"
          integrity="sha384-209QJH8lCoDrB70trdPkGFr84168dIgFO2IYDKFYUv73DqCa161cBayeTRYdzjSp"
          crossorigin="anonymous">
  </script>


  <script defer
          src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.9/dist/signature_pad.umd.min.js"
          integrity="sha256-V9L8ML4alT7DUFydZZy5L4hgeRqhv+oj16TmyeMu4m8="
          crossorigin="anonymous">
  </script>


<!--  <script defer-->
<!--          type="text/javascript"-->
<!--          src="{% static 'signature_pad/signature_pad.umd.min.js' %}"-->
<!--          integrity="sha256-CMptYYXRcNVLvNSGRK6ZLrOBRO729Cg5aAC8l34V+nI="-->
<!--          crossorigin="anonymous">-->
<!--  </script>-->

  <script defer
          type="text/javascript"
          src="{% static 'js/occasions/roster_list_view.js' %}">
  </script>

{% endblock extra_head %}

{% block content %}
<div class="roster-container">
  {% csrf_token %}
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <h3>
        Roster 點名單
      </h3>
    </div>
    <div class="d-flex">
      <a target="_blank"
         href="/persons/attendee/new?familyName=without"
         style="padding: 5px; text-decoration: none; height: 1.6rem;"
         role="button"
         class="btn btn-outline-success btn-sm add-attendee"
         title="add a new attendee without assigning families in a new tab"
         aria-label="+ Attendee">
        <span class="fas fa-user-plus" aria-hidden="true"></span>
        Add Attendee
      </a>
    </div>
  </div>
  <div id="signature-canvas-popup"></div>
  <form class="filters-dxform"
       data-series-gatherings-endpoint="{{series_gatherings_endpoint}}"
       data-characters-endpoint="{{characters_endpoint}}"
       data-gatherings-endpoint="{{gatherings_endpoint}}"
       data-attendances-endpoint="{{attendances_endpoint}}"
       data-categories-endpoint="{{categories_endpoint}}"
       data-assemblies-endpoint="{{assemblies_endpoint}}"
       data-attendings-endpoint="{{attendings_endpoint}}"
       data-teams-endpoint="{{teams_endpoint}}"
       data-meets-endpoint-by-slug="{{meets_endpoint_by_slug}}">
  </form>
</div>
{% endblock content %}
