{% extends "base.html" %}

{% block content %}
  <h4>
    Please log out when finish!
  </h4>
  <p>
    This server loads test data on {{repo_version}}. If you would like to access the real data,
    please contact the administrators for the server address with the real data.
  </p>
  <p>
    This system is for the use of authorized users only.
    Individuals using this computer system without authority, or in
    excess of their authority, are subject to having all of their
    activities on this system monitored and recorded by system
    personnel.

    In the course of monitoring individuals improperly using this
    system, or in the course of system maintenance, the activities
    of authorized users may also be monitored.

    Anyone using this system expressly consents to such monitoring
    and is advised that if such monitoring reveals possible
    evidence of criminal activity, system personnel may provide the
    evidence of such monitoring to law enforcement officials.
  <p>
{% endblock content %}
